<html>
<head>
	<title>Wall Street Biere</title>
    <meta charset="utf-8"> 
	<style type="text/css">
		@import url('styleWall.css');
	</style>
</head>
<body>
<div id="all">
	<div id="containerTable">
		<table id="tableBieres">
			<!-- <tr class="mostSold">
				<td class="mostSoldBeerTD" colspan =2 >
					<table class="onlyBeerTable">
						<tr>
							<td class="name">Cuvee des Trolls</td>
							<td class="oldPrice">1.70</td>
							<td class="newPrice">2.15</td>
							<td class="arrow"><img class="arrowImage" src="media/arrowUp.png"/></td>
						</tr>
					</table>
				</td>
			</tr> -->
            {% for beer in beers | sort(attribute='name') %}
                {% if loop.cycle(1, 2) == 1 %}
                    <tr class="normalBeer">
			        	<td class="beer">
			        		<table class="onlyBeerTable">
			        			<tr>
                                    <td class="name">{{ beer.name }}</td>
                                    {% if beer.old_price > beer.price %}
                                        <td class="arrow"><img class="arrowImage" src="media/arrowDown.png"/></td>
                                    {% else %}
                                        <td class="arrow"><img class="arrowImage" src="media/arrowUp.png"/></td>
                                    {% endif %}
                                    <td class="newPrice">{{ beer.price | FormatDecimal }}</td>
                                    <td class="oldPrice">{{ beer.old_price | FormatDecimal }}</td>
                                </tr>
			        		</table>
                        </td>

                {% else %}
			        	<td class="beer">
			        		<table class="onlyBeerTable">
			        			<tr>
                                    <td class="name">{{ beer.name }}</td>
                                    {% if beer.old_price > beer.price %}
                                        <td class="arrow"><img class="arrowImage" src="media/arrowDown.png"/></td>
                                    {% else %}
                                        <td class="arrow"><img class="arrowImage" src="media/arrowUp.png"/></td>
                                    {% endif %}
                                    <td class="newPrice">{{ beer.price | FormatDecimal }}</td>
                                    <td class="oldPrice">{{ beer.old_price | FormatDecimal }}</td>
			        			</tr>
			        		</table>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tr>

		</table>
	</div>
</div>
</body>
</html>
